{% extends 'base_template.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
    Profile
{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-12">
        {% if user.image %}
            <img src="{% static user.image.url %}" class="img-responsive">
        {% endif %}
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Edit your User Form</h2>
            </div>
            <div class="panel-body">
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Submit">
                    <a class="btn btn-default" href="{% url 'profile' %}" role="button">Cancel</a>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
